# Archivos de máquinas virtuales y comprimidos pesados
*.tar
*.tar.gz
*.vmdk
*.vdi
*.ova
*.ovf
*.zip

# Capturas de red
*.pcap
*.pcapng
*.restore
hydra.restore

# Archivos de contraseñas y hashes (¡muy importante para seguridad!)
hashes.txt
creds.txt
passwords.txt
*.key

# Archivos temporales
*.tmp
*.temp

# Carpetas temporales
temp/
tmp/
